<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899529344401-915d8p800annneeuqlrq0l1hbo25gcgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899529344401-915d8p800annneeuqlrq0l1hbo25gcgv</string>
	<key>API_KEY</key>
	<string>AIzaSyB34HZtvKNxwa76n4xDHSknki84DeQbXLo</string>
	<key>GCM_SENDER_ID</key>
	<string>899529344401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sidlab.instagram</string>
	<key>PROJECT_ID</key>
	<string>fluttergram-cab43</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttergram-cab43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899529344401:ios:3849750391695c094f0630</string>
</dict>
</plist>